.section {
    text-align:center;
    font-size: 3em;
}

#services .service-title {
    max-width: 600px;
    margin: auto;
}

#services .service-cell {
    font-size: 20px;
}

#contact form {
    background-color: white;
    max-width: 700px;
    margin: 70px auto 30px auto;
    border-radius: 10px;
    padding: 30px;
}

#contact form input {
    font-size: 16px;
    height: 55px;
} 

#contact form textarea {
    font-size: 16px;
}